body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 15px;
    background: #c5e2ff url('../img/bg_mal.jpg') no-repeat top center fixed;
    background-size: 1500px;
}

a {
    color: #ff2200;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 11px;
}

img {
    border: none;
    display: inline-block;
    max-width: 100%;
}

input {
    vertical-align: middle
}

#preRoll {
    display: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

.red {
    color: #ff3300;
}

.clear {
    width: 100%;
    height: 20px;
}

.middle {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
}

.center {
    text-align: center;
}

.subtitle {
    color: #9d4cb4;
    font-size: 18px;
    font-weight: normal;
}

.quote {
    width: 90%;
    border: 1px solid #999;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 15px auto;
    text-align: left;
    min-height: 70px;
}

.roundAva {
    border-radius: 35px;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
}

a.button24 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    margin: 30px 0;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-radius: 36px;
    background: url('../img/button.png') center no-repeat;
    background-size: cover;
    transition: 0.2s;
    font-size: 28px;
}

a.button24:hover {
    background: url('../img/button_hover.png') center no-repeat;
    background-size: cover;
}

a.button24:active {
    background: url('../img/button_active.png') center no-repeat;
    background-size: cover;
}

.btn {
    display: inline-block;
    color: #d6043b;
    font-size: 26px;
    margin: 10px auto;
}

.btn:hover {
    color: #27c942;
}

.wrapper:before {
    content: " ";
    width: 55px;
    height: 335px;
    position: absolute;
    left: -65px;
    top: 150px;
}

.wrapper:after {
    content: " ";
    width: 61px;
    height: 313px;
    position: absolute;
    right: -71px;
    top: 500px;
}

.blinking {
    -webkit-animation: blink 1.5s linear infinite;
    animation: blink 1.5s linear infinite;
}

@-webkit-keyframes blink {
    50% {
        color: rgba(250, 55, 0, 0);
    }
}

@keyframes blink {
    50% {
        color: rgba(250, 55, 0, 0);
    }
}

.wrapper {
    width: 98%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.wrapper>div {
    text-align: center;
    padding: 10px 0;
}

#header {
    padding: 0;
    position: absolute;
    top: -320px;
    left: 0;
    height: 320px;
    width: 960px;
}

.logo {
    position: absolute;
    top: 40px;
    left: 25px;
    background: url(../img/logo.png) no-repeat 0 0;
    background-size: contain;
    font-family: 'Playball', cursive;
    font-size: 92px;
    line-height: 1;
    color: #ffffff;
    padding-left: 92px;
    width: 396px;
    height: 227px;
    text-align: left;
    padding-top: 20px;
    box-sizing: border-box;
    text-shadow: 1px 1px 18px #020202;
}

.doctor-top {
    position: absolute;
    top: 0;
    right: 90px;
}

#title {
    background: #35454c;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
}

#content {
    background: #fff;
    padding: 15px;
    text-align: left;
    font-size: 17px;
    margin-top: 320px;
}

#content>div {
    display: inline-block;
}

#content .leftRow {
    width: 670px;
    padding-top: 10px;
}

#content .rightRow {
    float: right;
    width: 220px;
    vertical-align: top;
    text-align: center;
}

.rightRow .search-form {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 15px;
}

.rightRow .search-form .search-input {
    float: left;
    width: 79.8%;
    margin-right: 3%;
}

.rightRow .search-form .search-btn {
    float: left;
}

.ccalendar-img {
    margin-bottom: 10px;
    display: block;
}

#content h1 {
    font-size: 27px;
    text-align: center;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
}

#content .blinking {
    display: block;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
}

#content>div>a>img {
    display: block;
    margin: 10px auto;
}

#content img.left {
    float: left;
    margin-right: 10px;
    margin-top: 0;
}

#content img.right {
    float: right;
    margin-left: 10px;
    margin-top: 0;
}

#content .ans {
    color: #666;
}

#content .que {
    color: #000;
    font-size: 17px;
}

#content ol {
    padding: 18px;
}

.quote b {
    display: block;
    color: #353535
}

.quote h2 {
    margin: 0;
    margin-bottom: 8px;
    text-decoration: underline;
    font-size: 19px;
    font-weight: normal;
}

.cert {
    display: inline-block;
    border: 2px solid #fff;
}

.bottomSign {
    width: 100%;
    text-align: center;
}

.golenostop-sustav {
    position: relative;
    overflow: hidden;
    margin: 15px auto;
    max-width: 670px;
}

.golenostop-sustav-item {
    float: left;
    width: 50%;
    text-align: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.golenostop-sustav-item img {
    display: inline-block;
    padding-right: 40px;
}

.golenostop-sustav-item .text {
    font-size: 15px;
    font-weight: 700;
    color: #070707;
    position: absolute;
    margin-bottom: 0;
    text-align: center;
}

.golenostop-sustav-item .title {
    font-size: 16px;
    font-weight: 700;
    color: #070707;
    text-align: right;
    margin-top: 20px;
    margin-right: 90px;
}

.golenostop-sustav-item.right .title {
    margin-right: 77px;
}

.golenostop-sustav-item.left .text1 {
    top: 39px;
    left: 44px;
}

.golenostop-sustav-item.left .text2 {
    top: 96px;
    left: 41px;
}

.golenostop-sustav-item.left .text3 {
    top: 149px;
    left: 45px;
}

.golenostop-sustav-item.right .text1 {
    top: 7px;
    left: 32px;
}

.golenostop-sustav-item.right .text2 {
    top: 61px;
    left: -8px;
}

.golenostop-sustav-item.right .text3 {
    top: 163px;
    left: 7px;
}

#calendar {
    width: 100%;
    min-height: 196px;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
}

#calendar thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}

#calendar thead tr:nth-child(1) {}

#calendar thead tr:nth-child(1) td {
    color: #ffffff;
    background: #0a64bc;
    border: none;
    padding: 3px 0;
}

#calendar thead tr:nth-child(1) td:nth-child(1),
#calendar thead tr:nth-child(1) td:nth-child(3) {
    cursor: pointer;
}

#calendar thead tr:nth-child(2) td {
    font-size: 12px;
    font-weight: 700;
    padding: 4px 0;
    color: #000;
    background: #d7e1ea;
    border: 2px solid #fff;
    border-top-width: 7px;
    border-bottom-width: 7px;
}

#calendar thead tr:nth-child(2) td:nth-child(n+6) {
    background: #b7d8eb;
}

#calendar tbody td {
    color: #000000;
    background: #d7e1ea;
    border: 2px solid #ffffff;
}

#calendar tbody td:nth-child(n+6),
#calendar .holiday {
    color: #ffffff;
    background: #b7d8eb;
}

#calendar tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
}

.fb-block {
    border: 1px solid #aaaaaa;
    margin: 30px auto 80px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fb-header {
    background: #3b5998;
    padding: 6px 10px;
    overflow: hidden;
}

.fb-header .text-left {
    font-size: 12px;
    line-height: 19px;
    color: #ffffff;
    margin-bottom: 0;
    float: left;
}

.fb-title {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
    float: right;
}

.fb-content {
    padding: 10px;
}

.fb-about {
    border-bottom: 1px solid #d8dfea;
    min-height: 50px;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

.fb-about-ava {
    float: left;
    width: 50px;
}

.fb-about-left {
    margin-left: 60px;
    text-align: left;
}

.fb-about-left p {
    margin-bottom: 0;
}

.fb-about-name {
    font-size: 14px;
    font-weight: 700;
    color: #3b5998;
}

.btn-fb-like {
    display: inline-block;
    background: #eceef5 url(../img/like.jpg) no-repeat 7px 50%;
    border: 1px solid #cad4e7;
    border-radius: 3px;
    color: #3b5998;
    font-size: 11px;
    font-weight: 700;
    padding: 6px 8px 6px 25px;
    text-decoration: none;
    margin-top: 7px;
    margin-bottom: 5px;
}

.fb-content .qty-people,
.fb-content .name {
    margin-bottom: 3px;
    text-align: left;
    line-height: 1;
    font-size: 12px;
    color: #000000;
}

.fb-content .qty-people {}

.fb-content .name {
    font-weight: 700;
}

.people-list {
    position: relative;
    overflow: hidden;
    margin-top: 8px;
}

.fb-people {
    float: left;
    width: 23%;
    margin: 0 1%;
}

.fb-people img {
    width: 100%;
    display: block;
}

.fb-people .fb-name {
    display: block;
    text-align: center;
    font-size: 10px;
    color: #808080;
}

.fb-footer {
    padding: 5px 10px;
    border-top: 1px solid #cccccc;
}

.fb-logo {
    background: url(../img/fb-logo.jpg) no-repeat 0 50%;
    font-size: 10px;
    color: #808080;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 0;
}

#comments {
    background: #fff;
}

#comments h2 {
    background: #17253f;
    padding: 15px;
    color: #FFF;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

#comments h2 small {
    font-size: 18px;
    color: #444;
    vertical-align: top;
}

#comments .item {
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    min-height: 40px;
    border-bottom: 1px solid #e5e5e5;
}

#comments .item .info {
    margin-left: 20px;
}

#comments .item>img {
    position: absolute;
    border: 2px solid #acacac;
}

#comments .item .name {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #666;
}

#comments .item .date {
    font-size: 15px;
    color: #acacac;
}

#comments .item .info p {
    display: block;
    font-size: 15px;
    margin-top: 4px;
}

#comments .item .info img {
    width: 100%;
    max-width: 320px;
    display: block;
}

footer {}

.footer-top {
    background: #e4ebed;
    padding: 15px 25px;
}

.footer-top ul {
    float: left;
    position: relative;
    overflow: hidden;
    list-style: none;
    margin-right: 30px;
}

.footer-top li {
    float: left;
    margin-right: 10px;
}

.footer-top a {
    color: #003576;
    font-size: 12px;
}

.search-form {}

.search-input {
    width: 31.86813186813187%;
    display: inline-block;
    vertical-align: top;
    padding: 2px 5px;
}

.search-btn {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../img/search-btn.jpg) no-repeat 0 0;
}

.footer-middle {
    background: #2a292e;
    padding: 15px 25px;
}

.footer-menu {
    position: relative;
    overflow: hidden;
    list-style: none;
}

.footer-menu li {
    float: left;
    margin: 0 10px 5px 0;
}

.footer-menu a {
    color: #ffffff;
    font-size: 12px;
}

.footer-bottom {
    background: #3e4850;
    padding: 40px 25px 30px;
}

.footer-bottom p {
    color: #5d88b4;
    font-size: 12px;
}

@media (max-width:1150px) {
    .wrapper:before {
        display: none;
    }

    .wrapper:after {
        display: none;
    }

    a.button24 {
        font-size: 24px;
    }
}

@media (max-width:990px) {
    img.w100 {
        width: 100%;
    }

    #content img.w100 {
        width: 60%;
    }

    #content .leftRow {
        width: 100%;
    }

    #content .rightRow {
        display: none;
        visibility: hidden;
    }

    #content {
        margin-top: 0;
        position: relative;
    }

    body {
        background-color: #c5e2ff;
        background-image: none !important;
    }

    #header {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: url(../img/top_mal.jpg) no-repeat 0 50%;
        height: inherit;
        overflow: hidden;
    }

    .logo {
        width: 41.25%;
        left: 5%;
        top: 30px;
    }

    .doctor-top {
        width: 42.29166666666667%;
        right: 5%;
        display: block;
        position: relative;
        float: right;
    }

    #header .w100 {
        display: block;
    }
}

@media (max-width:800px) {
    .logo {
        left: 0;
        top: 0;
        font-size: 86px;
    }
}

@media (max-width:710px) {
    .golenostop-sustav-item {
        float: none;
        width: 295px;
        margin: 0 auto 35px;
    }

    .golenostop-sustav-item img {
        padding-right: 0;
    }

    .golenostop-sustav-item .title {
        margin-top: 10px;
        margin-right: 54px;
    }

    .golenostop-sustav-item.right .title {
        margin-right: 41px;
    }

    .logo {
        height: 176px;
        font-size: 64px;
        padding-left: 85px;
        top: 20px;
    }
}

@media (max-width:640px) {
    #header {
        height: 175px;
    }

    .doctor-top {
        display: none;
    }

    .logo {
        top: 0;
        width: 225px;
    }
}

@media (max-width:460px) {
    #content img.right {
        max-width: 30%;
    }

    #content img.w100 {
        width: 90%;
    }

    .footer-top ul {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-input {
        width: 80%;
    }
}

/* .input-prl {
    padding: 0 10px;
} */

.orderForm {
    padding-top: 15px;
}

.block_form {
    margin-top: 10px;
}

select {
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("https://179523.selcdn.ru/public/layout-images/select-triangle.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
}

select:hover {
    background-size: 10px 10px;
    background-position: right 10px center;
}

select:focus {
    outline: none !important;
    outline-color: transparent;
    outline-width: 0;
}

select::-ms-expand {
    display: none !important;
    background: none !important;
    position: fixed;
    border: none !important;
    outline: none !important;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
select::-moz-focus-inner,
option::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: none;
}

*:not(#fake) {
    outline: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}


.close-popup,
.cursor-text {
    cursor: pointer;
    position: absolute
}

.cursor-text,
.pop-up-window,
.spin-result-wrapper,
.spin-wrapper,
.wheel-wrapper {
    text-align: center
}

.spin-wrapper {
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    box-sizing: border-box
}

.spin-wrapper p {
    text-align: center;
    font-size: 21px !important;
    line-height: 1.4 !important;
    margin-bottom: 15px
}

.wheel {
    width: 380px !important;
    margin: 0 auto;
    position: relative
}

.wheel-cursor {
    position: absolute;
    width: 35% !important;
    height: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.cursor-text {
    z-index: 2;
    display: inline-block;
    width: 45% !important;
    height: 45%;
    line-height: 61px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ccc;
    top: 49%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
    box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
    background: #fff;
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1)
}

.wheel-img {
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s
}

.close-popup {
    width: 30px;
    height: 30px;
    background-image: url('fonts/cross.svg');
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px
}

.cursor-text:active {
    -webkit-box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset;
    box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset
}

.spin-result-wrapper {
    display: none;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6)
}

.pop-up-layer {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, .7) !important;
    z-index: 99 !important
}

.pop-up-layer-show {
    display: block
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0;
    left: 0;
    top: 40%;
    margin: 0 auto !important;
    background: #fff;
    padding: 70px 10px 20px !important;
    border-radius: 10px;
    animation: .7s ease 0s normal none 1 running pop-up-appear
}

.pop-up-window::after,
.pop-up-window::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto
}

.pop-up-window::before {
    width: 110px;
    height: 110px;
    top: -55px;
    background-color: #71c341;
    border-radius: 50%;
    animation: .5s ease .6s normal backwards 1 running pop-up-appear-before
}

.pop-up-window::after {
    width: 50px;
    height: 20px;
    top: -20px;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor #fff #fff;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: .5s ease .6s normal backwards 1 running pop-up-appear-after
}

@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px)
    }

    30% {
        transform: translateY(100px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes pop-up-appear-before {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.comments-refreshing-wrapper {
    display: none !important;
}

.pop-up-heading {
    font-size: 40px !important;
    margin-bottom: 20px !important
}

.pop-up-text {
    margin-bottom: 25px !important;
    font-size: 24px !important;
    line-height: 30px !important;
    text-align: center !important;
    color: #414141 !important;
    font-weight: 400
}

.pop-up-button,
.pop-up-button:hover {
    color: #fff !important;
    text-decoration: none !important
}

.pop-up-button {
    text-transform: uppercase !important;
    padding: 10px 20% !important;
    font-size: 20px !important;
    border-radius: 5px !important;
    background-color: #71c341 !important;
    border: none !important;
    cursor: pointer !important;
    outline: 0 !important
}

.wheel img {
    max-width: 100%
}

@media all and (max-width:520px) {
    .wheel {
        width: 260px !important
    }

    .pop-up-window {
        top: 30%
    }

    .pop-up-heading {
        font-size: 33px !important
    }

    .pop-up-text {
        margin-bottom: 15px !important
    }

    .cursor-text {
        line-height: 40px;
        font-size: 14px;
    }

    .close-popup {
        position: absolute;
        width: 30px;
        height: 30px;
        background-size: 100%;
        top: -40px;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
        right: -10px;
        cursor: pointer
    }
}

.super-rotation {
    -webkit-animation-name: super-rotation;
    animation-name: super-rotation;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

@-webkit-keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1783deg);
        transform: rotate(1783deg)
    }

    100% {
        -webkit-transform: rotate(1774deg);
        transform: rotate(1774deg)
    }
}

@keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1783deg);
        transform: rotate(1783deg)
    }

    100% {
        -webkit-transform: rotate(1774deg);
        transform: rotate(1774deg)
    }
}

.block_form_label {
    display: block;
    text-align: left;
}


.block_form {
    padding: 0 10px;
}

.input-prl {
    padding: 0 10px;
}